.filter-button {
    margin-left: 1em;
}

.filter-input {
    width: auto;
}

.project-list-item {
    padding-bottom: 2em;
}

ul {
    width: 50%;
    margin: auto;

}

mat-card-content {
    margin-left: 16px;
    margin-right: 16px;
}