<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <i class="material-icons">home</i> Samplesheet Generator
  </button>

  <!-- <button mat-button routerLink="/">Samplesheet Generator</button> -->

  <button mat-button [matMenuTriggerFor]="sheets">Samplesheet <i class="material-icons">arrow_drop_down</i></button>
  <button mat-button [matMenuTriggerFor]="projects">Projekt <i class="material-icons">arrow_drop_down</i></button>

  <mat-menu #sheets="matMenu">
    <button routerLink="/samplesheet-list" mat-menu-item>View</button>
    <button routerLink="/samplesheet" mat-menu-item>Create</button>
  </mat-menu>

  <mat-menu #projects="matMenu">
    <button routerLink="/project-list" mat-menu-item>View</button>
    <button routerLink="/project" mat-menu-item>Create</button>
  </mat-menu>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button *ngIf="authService.isLoggedIn()" mat-button (click)="authService.logout()">
    <i class="material-icons">exit_to_app</i> Log ud
  </button>

  <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login">
    <i class="material-icons">exit_to_app</i> Login
  </button>

</mat-toolbar>