/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { padding: 0; margin: 0;} 

body {
    font-family: "mariregular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.45;
	color: rgb(63, 63, 63);
	background: #e8edf0!important;
}

app-root {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 5em auto 5em;

    grid-template-areas: 
        "header header header"
        ". main ."
}

.toolbar {
    grid-area: header;
}

.main-content {
    grid-area: main;
}

div.no-items-found {
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 30px;
}

/* remove dots from list */
ul {
  list-style-type: none;
  padding: 0px;
}

